<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <style>
        body{
            background: #5433FF;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
        .box{
            border: 1px solid rgba(240, 46, 170, 0.4);
            margin: 0 auto;
            width: 50%;
            padding: 1%;
            box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;   
        }

        .vr{
            border-right: 1px solid black;
        }

        input{
            margin-top: 2%;
        }

    </style>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">ATM</span>
              <form action="/logout" method="get">
                <button class="btn btn-dark">
                    Logout
                </button>
              </form>
            </div>
            
          </nav>
        <div class="divbox">
            <center><h1 style="color: white; margin-top: 2%;">Admin Panel</h1></center>
            <center><h5 style="color: white; margin-bottom: 2%; margin-top: 1%;">Non-Registered Users:</h5></center>

            <div class="box">
                <%for(var i=0;i<1;i++){%>
                    <%var count=0%>
                    <%question.forEach(que=>{%>
                        <%if(que.firstname!="admin" && que.branchid==null){%>
                            <div class="row">
                                <div class="col-lg-6 vr">
                                    <h4>First name: <%= que.firstname %></h4>
                                    <h4>Last name: <%= que.lastname %></h4>
                                    <h4>Gender: <%=que.gender%></h4>
                                    <h4>Address: <%=que.address%></h4>
                                    <h4>Mobile: <%=que.mobile %></h4>
                                </div>
                                <div class="col-lg-6">
                                    <form action="/setuser" method="post">
                                        <input name="username" value="<%=que.username%>">
                                        <div>
                                            <div>
                                                <label>Allot Branch:</label>
                                            </div>
                                            <input placeholder="Branch Location" name="branch">
                                            <input placeholder="Branch Id" name="branchid">
                                        </div>
                                        <button class="btn btn-success" style="margin-top: 2%; margin-bottom: 3%;">Allot</button>
                                    </form>
                                </div>
                                <hr>  
                            </div> 
                        <%}else{%>
                        <%}%>  
                    <%})%>
                <%}%>
            </div>
            <div class="row" style="text-align: center; margin-top: 8%;">
                <div class="col-lg-6">
                    <form action="/allusers" method="get">
                        <button class="btn btn-dark">
                            All Users
                        </button>
                    </form>
                </div>
                <div class="col-lg-6">
                    <form action="/addbranch" method="get">
                        <button class="btn btn-dark">
                            Add Branch
                        </button>
                    </form>
                </div>
            </div>
        </div>   
    </body>
</html>